/* custom properties */

:root {
  --green: 131 14 56;
  --beige: 62 41 88;
  --pink: 12 38% 68%;
  --beige-light: 64 60 95;
  --black: 132 18 23;
  --darkpink: color-mix(in hsl, hsl(var(--pink)), black 50%);

  /* colour intentions */
  --background: linear-gradient(
    to top,
    hsl(var(--beige)),
    hsl(var(--beige-light) / 0.5)
  );
  --textColour: hsl(var(--black));
  --textColour-inverse: hsl(var(--beige));
  --textLink: hsl(var(--green));
  --lineColour: hsl(var(--beige));
  --quoteColour: hsl(var(--green));
  --titleColour: var(--darkpink);
  --btnColor: hsl(var(--green));
  --activeColour: var(--pink);

  --font-display: "Merriweather", serif;
  --font-body: "Karla", sans-serif;

  /*styles */
  --border: var(--lineWidth, 1px) solid var(--lineColour);
  --border-radius: 4px;
  --nav-height: 4rem;
  --section-padding: var(--space-xxl);

  /* font sizes */

  --fs-sm: clamp(0.8rem, 0.18vi + 0.75rem, 0.9rem);
  --fs-base: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
  --fs-md: clamp(1.25rem, 0.28vi + 1.18rem, 1.41rem);
  --fs-lg: clamp(1.56rem, 0.36vi + 1.47rem, 1.76rem);
  --fs-xl: clamp(1.95rem, 0.44vi + 1.84rem, 2.2rem);
  --fs-xxl: clamp(2.44rem, 0.55vi + 2.3rem, 2.75rem);
  --fs-xxxl: clamp(3.05rem, 0.69vi + 2.88rem, 3.43rem);

  /* spacing */
  --space-xs: clamp(0.88rem, 0.23vw + 0.82rem, 1rem);
  --space-sm: clamp(1.09rem, 0.43vw + 0.98rem, 1.33rem);
  --space-md: clamp(1.37rem, 0.74vw + 1.18rem, 1.78rem);
  --space-lg: clamp(1.71rem, 1.2vw + 1.41rem, 2.37rem);
  --space-xl: clamp(2.14rem, 1.86vw + 1.67rem, 3.16rem);
  --space-xxl: clamp(2.67rem, 2.8vw + 1.97rem, 4.21rem);
  --space-xxxl: clamp(3.34rem, 4.13vw + 2.3rem, 5.61rem);

  /* shadows */

  --box-shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-3: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-4: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

[data-theme="light"] {
  --background: linear-gradient(
    to top,
    hsl(var(--beige)),
    hsl(var(--beige-light) / 0.5)
  );
  --textColour: hsl(var(--black));
  --textColour-inverse: hsl(var(--beige));
  --textLink: hsl(var(--green));
  --lineColour: hsl(var(--beige));
  --quoteColour: hsl(var(--green));
  --titleColour: var(--darkpink);
  --btnColor: hsl(var(--green));
  --activeColour: var(--pink);
}

[data-theme="dark"] {
  --background: hsl(64 60 5);
  --textColour: hsl(var(--beige));
  --textColour-inverse: hsl(var(--beige));
  --textLink: hsl(var(--green));
  --lineColour: hsl(var(--beige));
  --quoteColour: hsl(var(--green));
  --titleColour: hsl(var(--pink));
  --btnColor: hsl(var(--green));
  --activeColour: var(--pink);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  scroll-padding: var(--nav-height);
}
/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--fs-base);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*layout */

.container {
  --max-width: 1200px;
  --gap: var(--space-sm);
  width: min(var(--max-width), 100% - var(--gap) * 2);
  margin-inline: auto;
}

.container--small {
  --max-width: 800px;
}

.container--large {
  --max-width: 1440px;
}

/* .layout */

section {
  padding-block: var(--section-padding);
}

.equal-grid {
  --max-width: 20rem;
  --gap: var(--space-xl);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--max-width), 1fr));
  gap: var(--gap);
}

/* typography */

.fs-xs {
  font-size: var(--fs-xs);
}
.fs-s {
  font-size: var(--fs-s);
}
.fs-base,
h5 {
  font-size: var(--fs-base);
}
.fs-md,
h4 {
  font-size: var(--fs-md);
}
.fs-lg,
h3 {
  font-size: var(--fs-lg);
}
.fs-xl,
h2 {
  font-size: var(--fs-xl);
}
.fs-xxl,
h1 {
  font-size: var(--fs-xxl);
}
.fs-xxxl {
  font-size: var(--fs-xxxl);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-display);
  letter-spacing: 1.5px;
}

p {
  max-width: 100ch;
  color: var(--textColour);

  a {
    color: var(--textLink);
    text-decoration: none;
  }
}

.link-text {
  --letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--textColour);
  letter-spacing: var(--letter-spacing);
  transition: 300ms ease color;

  &:hover {
    color: hsl(var(--green));
  }
}

h2 {
  text-align: center;
  color: var(--titleColour);
}

.sub-heading {
  text-align: center;
  max-width: 40ch;
  margin-inline: auto;
  font-size: var(--fs-md);
}

/* spacing */
.mb-xs {
  margin-bottom: var(--space-xs);
}

.mb-sm {
  margin-bottom: var(--space-sm);
}

.mb-md {
  margin-bottom: var(--space-md);
}

.mb-lg {
  margin-bottom: var(--space-lg);
}

.mb-xl {
  margin-bottom: var(--space-xl);
}

.mb-xxl {
  margin-bottom: var(--space-xxl);
}

body {
  font-family: var(--font-body);
  background: var(--background);
}

/* header */

.hero {
  margin-block-start: calc(
    var(--nav-height) + var(--section-padding) - var(--space-sm)
  );
  background-image: linear-gradient(
      to right,
      color-mix(in hsl, hsl(var(--green)), black 50%),
      color-mix(in hsl, hsl(var(--green) / 0.7), black 40%)
    ),
    url(images/woman-watchin-sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  height: 80vh;
  max-width: 100%;
  color: var(--textColour-inverse);
  padding-block: var(--space-xxl);

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-2);

  & h1 {
    grid-row: 2;
  }

  & p {
    grid-row: 3;
    color: var(--textColour-inverse);
  }

  & p,
  h1 {
    width: min(25rem, 100%);
  }

  .hero-content {
    height: 100%;
    display: grid;
    grid-template-rows: 0.6fr min-content min-content 1fr;
    padding-inline-start: var(--space-md);
  }
}

.breakout > * {
  grid-column: content;
}

/*navigation */

.nav {
  position: fixed;
  z-index: 100;
  height: 4rem;
  background-color: hsl(var(--beige-light) / 0.5);
  width: 100%;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
}
.nav--wrapper {
  display: flex;
  justify-content: space-between;

  padding-block: var(--space-sm);
}
nav {
  ul {
    display: flex;
    list-style-type: none;
  }

  .nav-link {
    --letter-spacing: 0.2rem;
    font-size: var(--fs-sm);
  }

  li + li {
    margin-inline-start: var(--space-sm);
  }
}

.active {
  color: #cc9a8e;
}
.menu-button {
  display: none;
}
.close-button {
  display: none;
}

.dark-light-btn {
  border: none;
  background: transparent;
  background-image: url(images/dark-mode.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
}

@media (max-width: 600px) {
  nav {
    position: fixed;
    inset: 0 0 0 0;
    height: 50vh;
    padding: 3rem;
    background-color: var(--titleColour);
    transform: translateY(-100%);
    transition: transform 600ms ease-in-out;
    ul {
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
    li + li {
      margin-inline-start: 0;
    }
    li {
      margin-block-end: var(--space-md);

      .link-text {
        color: hsl(var(--beige));
      }
    }
  }

  nav[data-visible="true"] {
    transform: translateY(0%);
  }

  .close-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    margin: 1rem;
  }

  .menu-button {
    display: block;
    border: none;
    background: transparent;
  }
}

/* cards */

.card--grid {
}

.card-container {
  container: card / inline-size;
}

.card {
  font-size: var(--fs-sm);
  color: var(--textColour-inverse);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--space-md);
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    color-mix(in hsl, hsl(var(--beige-light) / 0.7), black 50%),
    color-mix(in hsl, hsl(var(--beige) / 0.8), black 50%)
  );
  box-shadow: var(--box-shadow-1);
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  gap: var(--space-md);

  p,
  button {
    color: var(--textColour-inverse);
  }

  .card--heading {
    font-size: var(--fs-md);
  }

  .card--list {
    display: none;
  }

  .card--img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -2;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin-block-start: auto;
    margin-inline-end: auto;
    padding-block-end: 0.4rem;
    border-bottom: 1px solid currentColor;
  }
}

@container card (min-width: 650px) {
  .card {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 0;
    gap: var(--space-lg);
    padding-inline-end: var(--space-xl);
    padding-block: var(--space-xl);
    background-image: var(--background);
    color: var(--textColour);

    p {
      color: var(--textColour);
    }

    .card--img {
      grid-column: 1 /1;
      z-index: 99;
    }

    .card--heading,
    li strong {
      color: var(--titleColour);
    }

    & > *:not(.card--img) {
      grid-column: 2;
    }

    button {
      display: none;
    }

    .card--list {
      display: block;

      li {
        margin-block-end: var(--space-xs);
        list-style: none;
        position: relative;
        &:before {
          content: "";
          display: block;
          aspect-ratio: 1;
          width: 3px;
          border-radius: 50%;
          background-color: hsl(var(--pink));
          position: absolute;
          left: -10px;
          top: 12%;
        }
      }
    }
  }
}

.card-container {
  grid-column: 1/-1;
}

::view-transition-group(root) {
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
}

/* quote section */

.quotes {
  background-color: hsl(var(--green) / 0.1);

  & > * {
    grid-column: small;
  }
}

.quote--wrapper {
  position: relative;
}

.quote--text {
  color: var(--quoteColour);
  font-size: var(--fs-lg);
  font-style: italic;
  text-align: center;
  display: block;
  padding-inline: var(--space-sm);
  opacity: 0;
  transition: opacity 0.5s ease-in;

  &.active {
    opacity: 1;
  }
}

.quote--title {
  color: var(--titleColour);
  font-size: var(--fs-md);
  text-align: right;
}

.arrow {
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
}

.back-button {
  left: 0;
  translate: -100px -120%;
}

.next-button {
  right: 0;
  transform: rotate(180deg);
  translate: 100px -120%;
}

@media (max-width: 900px) {
  .back-button {
    translate: -20px -120%;
  }
  .next-button {
    translate: 20px -120%;
  }
}

/* link section */

.mental-health-organisations {
  --max-width: 15rem;
  list-style-type: none;
}

.organisation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);
  border: 1px var(--titleColour) solid;
  padding: var(--space-sm);
  border-radius: var(--border-radius);

  strong {
    display: block;
    margin-block-end: var(--space-sm);
    font-size: var(--fs-base);
    color: var(--titleColour);
    text-align: center;
  }

  p {
    font-size: var(--fs-sm);
  }
}

.button {
  --textBlend: var(--textColour-inverse);
  --btnBlend: var(--btnColor);
  text-decoration: none;
  color: var(--textBlend);
  background: linear-gradient(to right, var(--btnBlend), var(--btnColor));
  padding: 0.5rem 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-2);
  text-decoration: none;
  letter-spacing: 1.2px;
  transition: 300ms ease color;
  text-transform: uppercase;
  font-size: var(--fs-sm);
  cursor: pointer;
  transition: 0.6s all;

  &:hover {
    background: hsl(var(--pink) / 0.6);
    color: var(--titleColour);
  }
}
.button-1 {
  --btnBlend: color-mix(in hsl, var(--btnColor), white 35%);
}

.button-2 {
  --btnBlend: color-mix(in hsl, var(--btnColor), white 30%);
}

.button-3 {
  --btnBlend: color-mix(in hsl, var(--btnColor), white 25%);
}

.button-4 {
  --btnBlend: color-mix(in hsl, var(--btnColor), white 20%);
}

.button-5 {
  --btnBlend: color-mix(in hsl, var(--btnColor), white 15%);
}

.button-6 {
  --btnBlend: color-mix(in hsl, var(--btnColor), white 10%);
}

.button-7 {
  --btnBlend: color-mix(in hsl, var(--btnColor), white 5%);
}

.button-9 {
  --btnBlend: color-mix(in hsl, var(--btnColor), black 5%);
}

.button-10 {
  --btnBlend: color-mix(in hsl, var(--btnColor), black 10%);
}

.button-11 {
  --btnBlend: color-mix(in hsl, var(--btnColor), black 15%);
}

.button-12 {
  --btnBlend: color-mix(in hsl, var(--btnColor), black 20%);
}

.button-13 {
  --btnBlend: color-mix(in hsl, var(--btnColor), black 25%);
}

.button-14 {
  --btnBlend: color-mix(in hsl, var(--btnColor), black 30%);
}

body > * {
  overflow: hidden;
}
